<div style="border:1px solid red; padding-bottom:5px; margin-top: 10px;">
  <h2>Bon de commande</h2>
  <strong>Nom du client:</strong> {{ client_name }} <br>
  <strong>Adresse d'expédition:</strong> {{ shipping_address }} <br>
  <strong>Adresse de livraison:</strong> {{ delivery_address }} <br>
</div>
